* {
    margin: 0;
    padding: 0;
    }

.site-header {
    background-color: rgba(0, 0, 0, .70);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
  .site-header a {
    color: #999;
    transition: ease-in-out color .15s;
  }
  .site-header a:hover {
    color: #fff;
    text-decoration: none;
  }
  

  

.flex-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
  @media (min-width: 768px) {
    .flex-md-equal > * {
      -ms-flex: 1;
      flex: 1;
    }
  }
  
  .overflow-hidden { overflow: hidden; }
  
#mainNav {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;

}

#hero-box {
    height: 100vh;
    /* width: 100vw; */
    position: absolute;
    left: 0;
    top: 0;
    padding-left: 0;
    margin-bottom: 2rem;
}

.hero-text{
    transform: translateY(50%);
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
}


#hero-video{
    position: absolute;
    left: 0;
    top: 0;
    min-width: 100%; 
    min-height: 100%;
}


@-webkit-keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}  
@keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}